

/* Google Fonts - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;900&display=swap');

input {
caret-color: rgb(76, 0, 255);
}

body {
margin: 0;
width: 100vw;
height: 100vh;
background: #ecf0f3;
display: flex;
align-items: center;
text-align: center;
justify-content: center;
place-items: center;
overflow: hidden;
font-family: poppins;
}


.container {
position: relative;
width: 350px;
height: 70%;
border-radius: 20px;
padding: 40px;
box-sizing: border-box;
background: #ecf0f3;
margin-top: 10px; /* Add this line */
}


.brand-logo {
height: 100px;
width: 100px;
margin: auto;
border-radius: 50%;
box-sizing: border-box;
box-shadow: 7px 7px 10px #cbced1, -7px -7px 10px white;
/* background-image: url('Logo\ medico\ di\ famiglia\ _\ Vettore\ Premium.jpeg'); */
background-image: url('../icons/Logo medico di famiglia _ Vettore Premium.jpeg');

background-size: cover; /* This will cover the entire area of the div */
background-position: center; /* This centers the background image */
background-repeat: no-repeat; /* Prevents the image from repeating */
}


.brand-title {
margin-top: 5px;
font-weight: 900;
font-size: 1.8rem;
color: #1DA1F2;
letter-spacing: 1px;
}

.inputs {
text-align: left;
margin-top: 10px;
}

label, input, button {
display: block;
width: 100%;
padding: 0;
border: none;
outline: none;
box-sizing: border-box;
}

label {
margin-bottom: 4px;
}

label:nth-of-type(2) {
margin-top: 12px;
}

input::placeholder {
color: gray;
}

input {
background: #ecf0f3;
padding: 10px;
padding-left: 20px;
height: 50px;
font-size: 14px;
border-radius: 50px;
box-shadow: inset 6px 6px 6px #cbced1, inset -6px -6px 6px white;
}

button {
color: white;
margin-top: 20px;
background: #1DA1F2;
height: 40px;
border-radius: 20px;
cursor: pointer;
font-weight: 900;
transition: 0.5s;
}

button:hover {
box-shadow: none;
}



h1 {
position: absolute;
top: 0;
left: 0;
}

* {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: "Poppins", sans-serif;
}
body {
min-height: 100vh;
background-image: url('../img/img.jpg');
background-size: cover;
background-position: center;
display: flex;
justify-content: center;
align-items: center;
margin: 0;

}
nav {
position: fixed;
top: 0;
left: 0;
height: 70px;
width: 100%;
display: flex;
align-items: center;
background: #fff;
box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
}
nav .logo {
display: flex;
align-items: center;
margin: 0 24px;
}
.logo .menu-icon {
color: #333;
font-size: 24px;
margin-right: 14px;
cursor: pointer;
}
.logo .logo-name {
color: #333;
font-size: 22px;
font-weight: 500;
}
nav .sidebar {
position: fixed;
top: 0;
left: -100%;
height: 100%;
width: 260px;
padding: 20px 0;
background-color: #fff;
box-shadow: 0 5px 1px rgba(0, 0, 0, 0.1);
transition: all 0.4s ease;
}
nav.open .sidebar {
left: 0;
}
.sidebar .sidebar-content {
display: flex;
height: 100%;
flex-direction: column;
justify-content: space-between;
padding: 30px 16px;
}
.sidebar-content .list {
list-style: none;
}
.list .nav-link {
display: flex;
align-items: center;
margin: 8px 0;
padding: 14px 12px;
border-radius: 8px;
text-decoration: none;
}
.lists .nav-link:hover {
background-color: #4070f4;
}
.nav-link .icon {
margin-right: 14px;
font-size: 20px;
color: #707070;
}
.nav-link .link {
font-size: 16px;
color: #707070;
font-weight: 400;
}
.lists .nav-link:hover .icon,
.lists .nav-link:hover .link {
color: #fff;
}
.overlay {
position: fixed;
top: 0;
left: -100%;
height: 1000vh;
width: 200%;
opacity: 0;
pointer-events: none;
transition: all 0.4s ease;
background: rgba(0, 0, 0, 0.3);
}
nav.open ~ .overlay {
opacity: 1;
left: 260px;
pointer-events: auto;
}

p {
font-size: 18px;
color: #333;
margin-bottom: 10px;
font-family:sans-serif;
}

h2 {
font-size: 36px;
color: #ffffff;
font-weight: bold;
margin-bottom: 20px;
text-align: center;
font-family:sans-serif;
}

/* Style spécifique pour "Docshere" */
p:first-child {
font-size: 100px;
color: #000000;
font-weight: bold;
margin-bottom: 20px;
text-align: center;
font-family:sans-serif;
}

.animated-paragraph {
animation-name: slideRight;
animation-duration: 1s;
animation-timing-function: ease-out;
animation-fill-mode: forwards;
}

@keyframes slideRight {
from {
transform: translateX(-100%);
opacity: 0;
}
to {
transform: translateX(0);
opacity: 1;
}
}

